extends layout

block hero-unit
  h2 공모전을 통해 여러분의 스펙을 키워보세요~~!
  .jumbotron
    .container

block content
  .container
    h4 빠른 검색  
    form.form-inline.search-input-group(action='/questions', method='GET')
      i.fa.fa-search
      input.form-control.mr-sm-2(type='text', name='term', placeholder='Search', aria-label='Search', value=term)
    .row
      .col-md-6
        h3 서비스 목적
        p 본 서비스는 각종 공모전 정보와 각종 대외활동 자료를 모아놓은 정보사이트입니다.
        <hr/>
        .col-md-6
        h3 서비스 사용 방법
        p 본 서비스는 회원제로 운영되며 회원의 구분은 개인회원과 사업자 회원이 있습니다.
        p 개인 회원은 공모전 신청만이 가능하며 공모전 등록기능은 사업자 회원만 사용 가능합니다.
        p 관리자 계정으로 로그인 시 모든 사용자 조회 및 모든 공모전 수정,변경 가능합니다.
        <hr/>
      .col-md-6
        h3 주요 기능
        ul
          li 공모전 보기
          li 공모전 등록
          li 공모전 삭제
          li 공모전 변경
          li 공모전 신청
          li 사용자 관리/인증
          li 회원가입

